@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Jost', sans-serif;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.numbers, .action {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-auto-rows: 50px;
  grid-gap: 5px;
}

.numbers span, .action span {
  color: seashell;
  font-size: 20px;
}

.numbers span:nth-child(odd), .action span:nth-child(odd) {
  background-color: royalblue;
}

.numbers span:nth-child(even), .action span:nth-child(even) {
  background-color: salmon;
}

.numbers span:hover, .action span:hover {
  cursor: pointer;
}

.effect {
  transform: scale(0.9);
}
